body {
    background-color: #ffffff;
}

}

.title {
    color: black;
    border: 5px solid;
    border-color: white;
    text-align:center;
    font-family: 'Roboto Mono', monospace;
    margin-top: 250px;
    font-size: 30px;
    margin-right: 300px;
    margin-left: 300px;
    background-color: white;
    text-decoration: none;

}
 h1 {
   color: black;
   border: 5px solid;
   border-color: white;
   text-align:center;
   font-family: 'Roboto Mono', monospace;
   margin-top: 250px;
   font-size: 60px;
   margin-right: 300px;
   margin-left: 300px;
   background-color: white;


 }

 h2 {
   color: black;
   border: 5px solid;
   border-color: white;
   text-align:center;
   font-family: 'Roboto Mono', monospace;
   margin-top: -30px;
   font-size: 12px;
   margin-right: 320px;
   margin-left: 300px;
   background-color: white;
   text-decoration: none;


 }
.background {
    border: solid;
    border-left: 5px solid;
    border-right: 5px solid;
    border-color: white;
    border-top: 5px solid white;
    border-bottom: none;
    margin-bottom: -15px;
    margin-left: -1px;
    margin-right: -5px;
}
a {
  text-decoration: none;
  color: rgb(0,0,0);
}
