body {
    background-color: #ffffff;
}

.navbar {
    text-align: center;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    margin-top: -25px;
}

li {
    display: inline;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
}

a {
    margin-left: 80px;
    margin-right: 80px;
    font-family: 'Exo', sans-serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

li a:hover {
    background-color: #ffbb99;
    color: #black;
}

.title {
    color: black;
    border: 5px solid;
    border-color: white;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    margin-top: 250px;
    font-size: 30px;
    margin-right: 300px;
    margin-left: 300px;
    background-color: white;
    
}



header {

.col-wrapper {
    width: 60px;
    margin: 0;
}

.col {
    margin: 60px;
    float: left;
    display: inline;
}

.col-1 {
    width: 400px;
    text-align: justify;
    font-family: 'Pragati Narrow', sans-serif;
  }
p {
  font-size: 20px;
}

.col-2 {
    float: right;
    width: 400px;
}

.container {
    float: right;
    display: inline-block;
    margin-bottom: 0px;
    padding-top: 500px;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
}

.container li a {
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
    margin-right: 10px;
    margin-left: 10px;
}

.container li {
    margin-bottom: 0px;
}

.container ul {
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0px;
}



.background {
    border: solid;
    border-left: 5px solid;
    border-right: 5px solid;
    border-color: white;
    border-top: 5px solid white;
    border-bottom: none;
    margin-bottom: -15px;
    margin-left: -1px;
    margin-right: -5px;
}
